@using System.Threading.Tasks
@model Abc.Northwind.MvcWebUI.Models.LoginViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div >
    <h1 class="text-center">   NORTHWİND TRADİNG </h1>
    <form  form asp-controller="Account" asp-action="Login" method="post"  role="form">
        <h3 class="h3 mb-3 font-weight-normal text-center">Please sign in</h3>
        <div >
            <input asp-for="UserName" class="form-control" placeholder="User Name" required autofocus>
            <span asp-validation-for="UserName"></span>
        </div>

        <div style="position: relative; top: 10px;">
            <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <span asp-validation-for="Password"></span>
        </div>
        <div  style="position: relative; top: 12px;">
            <label>
                <input asp-for="RememberMe"> Remember me
            </label>
            
            <a class="right" asp-controller="Account" asp-action="ForgotPassword">
                Forgot Password
            </a>

        </div>
        <div style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%; position: relative; top: 10px">
            Don't have an account!
            <a asp-controller="Account" asp-action="Register">
                Sign Up Here
            </a>
        </div>
        <button  style="position: relative; top: 10px;" class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

    </form>
</div>