@using System.Threading.Tasks
@model Abc.Northwind.MvcWebUI.Models.RegisterViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div>
        <div id="registerheading">
            <h1 class="text-center">NORTWİND TRADİNG</h1>
            <div>
                <label>
                    <h3>Please Sign Up</h3>
                </label>
                <a style="float: right; font-size: 85%; position: relative; top: 12px" asp-controller="Account" asp-action="Login">Sign In</a>
            </div>
            <div>
                <form asp-controller="Account" asp-action="Register" method="post"  role="form">
                    <div>
                        <label asp-for="UserName"></label>
                        <div >
                            <input asp-for="UserName" type="text" class="form-control" placeholder="User Name">
                            <span asp-validation-for="UserName"></span>
                        </div>
                    </div>

                    <div >
                        <label asp-for="Password" ></label>
                        <div >
                            <input asp-for="Password" class="form-control" placeholder="Password">
                            <span style="font-size: 85%; color: red;" asp-validation-for="Password" data-valsmg-replace="true">Password must be required digit, nonalphanumeric, uppercase, lowercase</span>
                        </div>
                    </div>

                    <div >
                        <label asp-for="Email" ></label>
                        <div >
                            <input asp-for="Email" class="form-control" placeholder="Email Address">
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>

                    <div  style="position: relative; top: 12px;">
                        <!-- Button -->
                        <div >
                            <button  class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
